.option.genji{ background-image: url("Main/char-Icons/genji.png"); }
.option.mccree{ background-image: url("Main/char-Icons/mccree.png"); }
.option.pharah{ background-image: url("Main/char-Icons/pharah.png"); }
.option.reaper{ background-image: url("Main/char-Icons/reaper.png"); }
.option.soldier-76{ background-image: url("Main/char-Icons/soldier.png"); }
.option.sombra{ background-image: url("Main/char-Icons/sombra.png"); }
.option.tracer{ background-image: url("Main/char-Icons/tracer.png"); }
.option.bastion{ background-image: url("Main/char-Icons/bastion.png"); }
.option.hanzo{ background-image: url("Main/char-Icons/hanzo.png"); }
.option.junkrat{ background-image: url("Main/char-Icons/junkrat.png"); }
.option.mei{ background-image: url("Main/char-Icons/mei.png"); }
.option.torbjorn{ background-image: url("Main/char-Icons/tob.png"); }
.option.widowmaker{ background-image: url("Main/char-Icons/widow.png"); }
.option.dva{ background-image: url("Main/char-Icons/dva.png"); }
.option.orisa{ background-image: url("Main/char-Icons/orisa.png"); }
.option.reinhardt{ background-image: url("Main/char-Icons/rein.png"); }
.option.roadhog{ background-image: url("Main/char-Icons/roadhog.png"); }
.option.winston{ background-image: url("Main/char-Icons/winston.png"); }
.option.zarya{ background-image: url("Main/char-Icons/zarya.png"); }
.option.ana{ background-image: url("Main/char-Icons/ana.png"); }
.option.lucio{ background-image: url("Main/char-Icons/lucio.png"); }
.option.mercy{ background-image: url("Main/char-Icons/mercy.png"); }
.option.symmetra{ background-image: url("Main/char-Icons/sym.png"); }
.option.zenyatta{ background-image: url("Main/char-Icons/zenyatta.png"); }
.option.brigitte{ background-image: url("Main/char-Icons/brigitte.png"); }
.option.doomfist{ background-image: url("Main/char-Icons/doomfist.png"); }
.option.moira { background-image: url("Main/char-Icons/moira.png"); }
.option.ashe { background-image: url("Main/char-Icons/ashe.png"); }
.option.baptiste { background-image: url("Main/char-Icons/baptiste.png"); }
.option.wreckingball { background-image: url("Main/char-Icons/ham.png"); }
.option.sigma { background-image: url("Main/char-Icons/sigma.png"); }
.option.echo { background-image: url("Main/char-Icons/echo.png"); }


.unavailable {
    pointer-events: none;
    background-color: grey;
    background-image: none !important;
}
